parameters:
    level: 9
    scanDirectories:
        - dev-stubs
    paths:
        - src
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            message: '#^Interface .* extends interface#'
            path: dev-stubs/*
        -
            message: '#PHPDoc tag @inheritDoc is not required#'
            path: src/*